<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button text="" (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informacion del juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">{{boardgame.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="boardgame.images.medium"></ion-img>
      <ion-item>
        <ion-badge>{{boardgame.average_user_rating.toFixed(2)}}</ion-badge>
        <rating [rate]="boardgame.average_user_rating" readonly="true" size="default"></rating>
      </ion-item>
      <ion-item>
        <strong>Año Publicación:</strong>{{boardgame.year_published}}
      </ion-item>
      <ion-item>
        <strong>Jugadores:</strong>De {{boardgame.min_players}} a {{boardgame.max_players}} jugadores
      </ion-item>
      <ion-item>
        <strong>Duracion:</strong>{{boardgame.min_playtime}} - {{boardgame.max_playtime}} minutos
      </ion-item>
      <ion-item>
        <div [innerHTML]="boardgame.description"></div>
      </ion-item>
      <ion-item>
        <ion-button size="large" color="secondary" (click)="openBoardgamesRulesWithCordovaBrowser()">
          Ir a reglas de juego
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>