<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mis Juegos de Mesa </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="list" (ionChange)="changeView($event)">
    <ion-segment-button value="list">
      <ion-label>LIST</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cubo">
      <ion-label>CUBO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cover">
      <ion-label>COVER</ion-label>
    </ion-segment-button>
    <ion-segment-button value="flip">
      <ion-label>FLIP</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fade">
      <ion-label>FADE</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="myBoardgamesList?.games.length>0 && this.isSimpleList">
    <ion-item>
      <ion-badge slot="end">{{myBoardgamesList.games.length}}</ion-badge>
      <ion-label>Numero de cajas:</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let myBoardgame of myBoardgamesList.games">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="myBoardgame.images.small">
        </ion-avatar>
        <ion-label>
          <h2> {{ myBoardgame.name}}</h2>
          <p> {{myBoardgame.year_published}} </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash-outline" (click)="deleteFromLocalStorage(myBoardgame)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-slides [options]="this.carrousel_options.opcion_cubo"
    *ngIf="myBoardgamesList?.games.length>0&&carrousel_options.opcion=='cubo'">
    <ion-slide *ngFor="let myBoardgame of myBoardgamesList.games">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{myBoardgame.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="myBoardgame.images.small"></ion-img>
          <p> {{myBoardgame.year_published}} </p>
          <p> <strong>Jugadores:</strong>De {{myBoardgame.min_players}} a {{myBoardgame.max_players}} jugadores </p>
          <p> <strong>Duracion:</strong>{{myBoardgame.min_playtime}} - {{myBoardgame.max_playtime}} minutos </p>
          <p> <strong>Descripcion:</strong>{{myBoardgame.description}} </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="this.carrousel_options.opcion_coverflow"
    *ngIf="myBoardgamesList?.games.length>0&&carrousel_options.opcion=='cover'">
    <ion-slide *ngFor="let myBoardgame of myBoardgamesList.games">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{myBoardgame.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="myBoardgame.images.small"></ion-img>
          <p> {{myBoardgame.year_published}} </p>
          <p> <strong>Jugadores:</strong>De {{myBoardgame.min_players}} a {{myBoardgame.max_players}} jugadores </p>
          <p> <strong>Duracion:</strong>{{myBoardgame.min_playtime}} - {{myBoardgame.max_playtime}} minutos </p>
          <p> <strong>Descripcion:</strong>{{myBoardgame.description}} </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="this.carrousel_options.opcion_flip"
    *ngIf="myBoardgamesList?.games.length>0&&carrousel_options.opcion=='flip'">
    <ion-slide *ngFor="let myBoardgame of myBoardgamesList.games">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{myBoardgame.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="myBoardgame.images.small"></ion-img>
          <p> {{myBoardgame.year_published}} </p>
          <p> <strong>Jugadores:</strong>De {{myBoardgame.min_players}} a {{myBoardgame.max_players}} jugadores </p>
          <p> <strong>Duracion:</strong>{{myBoardgame.min_playtime}} - {{myBoardgame.max_playtime}} minutos </p>
          <p> <strong>Descripcion:</strong>{{myBoardgame.description}} </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="this.carrousel_options.opcion_fade"
    *ngIf="myBoardgamesList?.games.length>0&&carrousel_options.opcion=='fade'">
    <ion-slide *ngFor="let myBoardgame of myBoardgamesList.games">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{myBoardgame.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="myBoardgame.images.small"></ion-img>
          <p> {{myBoardgame.year_published}} </p>
          <p> <strong>Jugadores:</strong>De {{myBoardgame.min_players}} a {{myBoardgame.max_players}} jugadores </p>
          <p> <strong>Duracion:</strong>{{myBoardgame.min_playtime}} - {{myBoardgame.max_playtime}} minutos </p>
          <p> <strong>Descripcion:</strong>{{myBoardgame.description}} </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>