<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Libreria de Juegos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="boardgamesList?.games.length>0">
    <ion-item>
      <ion-badge slot="end">{{boardgamesList.games.length}}</ion-badge>
      <ion-label>Numero de cajas:</ion-label>
    </ion-item>
    <ion-item *ngFor=" let boardgame of boardgamesList.games" (click)="showBoardgameInfo(boardgame)">
      <ion-avatar slot="start">
        <img [src]="boardgame.thumb_url">
      </ion-avatar>
      <ion-label>
        <h2> {{ boardgame.name}}</h2>
        <p> {{boardgame.year_published}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>